<div id="disqus_thread" {{ this.bbcontent(null, {'class': 'disqus-block'})|raw }}></div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    {% set container = this.getRenderer().getApplication().getContainer() %}
    var disqus_shortname = '{{ container.getParameter("bundle.disqus.short_name") }}';
    var disqus_identifier = '{{ this.getObject().getUid() }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
